In [13]:
import pandas_ta as ta
import yfinance as yf
import pandas_datareader as pdr

In [15]:
ticker1 = yf.Ticker("BAC")
ticker2 = yf.Ticker("INTC")
dataFrame1 = ticker1.history(
    start='2018-1-1', interval="1mo", actions=False, rounding=True)
dataFrame2 = ticker2.history(
    start='2018-1-1', interval="1mo", actions=False, rounding=True)

ratio = dataFrame1.Close / dataFrame2.Close
spread = dataFrame1.Close - dataFrame2.Close

dataFrame1

                            Open   High    Low  Close        Volume
Date
2018-01-01 00:00:00-05:00  26.67  29.09  26.55  28.69  1.413714e+09
2018-02-01 00:00:00-05:00  28.69  29.45  26.11  28.78  1.705884e+09
2018-03-01 00:00:00-05:00  28.75  29.63  26.01  26.89  1.488464e+09
2018-04-01 00:00:00-04:00  26.82  28.05  25.87  26.92  1.471184e+09
2018-05-01 00:00:00-04:00  26.92  28.22  25.58  26.13  1.414581e+09
...                          ...    ...    ...    ...           ...
2022-10-01 00:00:00-04:00  30.41  36.16  29.14  35.83  9.809315e+08
2022-11-01 00:00:00-04:00  36.23  38.38  35.20  37.63  7.003287e+08
2022-12-01 00:00:00-05:00  37.28  37.47  31.17  32.93  8.930022e+08
2023-01-01 00:00:00-05:00  33.23  34.82  33.21  34.14  7.714820e+07
2023-01-04 00:00:00-05:00  33.90  34.82  33.83  34.14  3.869117e+07

[79 rows x 5 columns]

In [16]:
dataFrame1["ATR"] = dataFrame1.ta.atr()
dataFrame1["ATR %"] = ((dataFrame1["ATR"]+dataFrame1["ATR"].shift())/2)/dataFrame1.High

In [17]:
dataFrame1.head(20)

,Open,High,Low,Close,Volume,ATR,ATR %
Date,,,,,,,
2018-01-01 00:00:00-05:00,26.67,29.09,26.55,28.69,1.413714e+09,NaN,NaN
2018-02-01 00:00:00-05:00,28.69,29.45,26.11,28.78,1.705884e+09,NaN,NaN
2018-03-01 00:00:00-05:00,28.75,29.63,26.01,26.89,1.488464e+09,NaN,NaN
2018-04-01 00:00:00-04:00,26.82,28.05,25.87,26.92,1.471184e+09,NaN,NaN
2018-05-01 00:00:00-04:00,26.92,28.22,25.58,26.13,1.414581e+09,NaN,NaN
2018-05-31 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-01 00:00:00-04:00,26.65,27.48,25.31,25.47,1.377574e+09,NaN,NaN
2018-07-01 00:00:00-04:00,25.37,28.42,24.96,27.90,1.313220e+09,NaN,NaN
2018-08-01 00:00:00-04:00,28.21,28.83,27.25,27.95,1.076260e+09,NaN,NaN
2018-09-01 00:00:00-04:00,27.93,28.34,26.58,26.62,1.036676e+09,NaN,NaN
2018-09-06 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-01 00:00:00-04:00,26.95,27.95,23.50,24.97,1.818210e+09,NaN,NaN
2018-11-01 00:00:00-04:00,25.21,26.44,24.31,25.78,1.119395e+09,NaN,NaN
2018-12-01 00:00:00-05:00,26.32,26.37,20.57,22.37,1.812967e+09,NaN,NaN
2018-12-06 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-01 00:00:00-05:00,21.98,27.13,21.92,25.99,1.644924e+09,NaN,NaN
2019-02-01 00:00:00-05:00,26.11,27.09,25.44,26.55,9.726241e+08,NaN,NaN
2019-02-28 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-01 00:00:00-05:00,26.91,27.66,24.42,25.32,1.240843e+09,3.197475,NaN
2019-04-01 00:00:00-04:00,25.60,28.60,25.56,28.06,1.226772e+09,3.207594,0.111977